.App {
    overflow-x: clip;
    position  : relative;
}

.App>:nth-child(1) {
    background: var(--black);
    position  : relative;
}

.white-gradient {
    background   : rgba(225, 225, 225, 0.522);
    border-radius: 100px;
    filter       : blur(100px);
    height       : 20rem;
    position     : absolute;
    width        : 20rem;
}